@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,600,700&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  line-height: 1.3;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}
p {
  margin: 0px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.top-area {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 70px 0px;
}
.biography-area {
  background-image: url(../img/biography-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 70px 0px;
}
.work-area {
  background-image: url(../img/latest-work-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 120px 0px;
}
.client-area {
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 120px 0px;
}

.half-width {
  float: left;
  width: 50%;
}
.third-width {
  width: 33.3333%;
  float: left;
}

.text-content {
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-content h4 {
  font-size: 28px;
}

.text-content h2 {
  font-size: 48px;
  color: #ec4c7a;
}

.text-content p {
  color: #707070;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #ec4f8f;
  padding: 8px 30px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #333;
  color: #ffc91d;
}

.text-center {
  text-align: center;
}

.text-center h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.work-photo {
  padding: 20px;
  overflow: hidden;
}

.work-photo img {
  transition: all 0.3s ease;
  opacity: 1;
}

.work-photo:hover img {
  opacity: 0.8;
}

.clients-quote {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.clients-quote .client-name {
  padding-top: 30px;
  padding-bottom: 20px;
}

.clients-quote .client-name h4 {
  font-size: 20px;
}

.clients-quote .client-name h4 span {
  display: block;
  font-size: 80%;
  margin-top: 10px;
  font-weight: 600;
  color: #7c7a7a;
}

.email-area {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background: #ec5299;
  background: -moz-linear-gradient(left, #ec5299 0%, #ec4e89 50%, #ed4b70 100%);
  background: -webkit-linear-gradient(
    left,
    #ec5299 0%,
    #ec4e89 50%,
    #ed4b70 100%
  );
  background: linear-gradient(to right, #ec5299 0%, #ec4e89 50%, #ed4b70 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec5299', endColorstr='#ed4b70',GradientType=1 );
  color: #fff;
  padding: 40px 0px;
  border-radius: 10px;
}

.email-area p {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.email-area a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.footer {
  padding: 30px 0px;
}
